@use '../abstracts/variables' as vars;
@use '../abstracts/spacing' as space;

.banner {
  display: grid;
  justify-items: center;
  height: 370px;
  width: 100%;
  background-color: vars.$primary-500;
  color: vars.$neutral-white;
  overflow: hidden; //* for animation of the rings.scss

  &__container {
    position: relative; //* for animation of the rings.scss
    padding-top: 50px;
  }
}
