@use '../abstracts/variables' as vars;
@use '../abstracts/spacing' as space;
@use '../abstracts/media-queries' as media;
@use '../base/typography' as typo;

.footer {
  background-color: vars.$secondary-500;
  color: vars.$neutral-white;
  overflow: hidden; //* for animation of the rings.scss

  &__container {
    position: relative; //* for animation of the rings.scss
  }

  .ring--small {
    top: -75px;
  }
  .ring--big {
    top: -60px;
  }

  &__content {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: var(--size-40);
    padding: var(--size-12) 0;

    @include media.min768px {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__title {
    padding-top: space.range(15, 80);
    @include typo.text('32-55', 'jakarta', vars.$font-weight-extra-bold, 1.21);

    @include media.min768px {
      max-width: 15ch;
      padding-bottom: space.range(15, 80);
    }
  }

  &__logo {
    @include typo.text('18-24', 'jost', vars.$font-weight-medium);
    white-space: nowrap;
  }

  &__address {
    @include typo.text('16-20', 'jakarta', vars.$font-weight-regular, 1.335);

    @include media.max767px {
      margin-bottom: 24px;
    }
  }
}
