@use '../abstracts/variables' as vars;
@use '../abstracts/spacing' as space;
@use '../base/typography' as typo;
@use '../abstracts/mixins' as mixins;

.service-card {
  display: flex;
  width: 100%;
  max-width: 444px;
  border-radius: 16px;
  background: vars.$neutral-white;
  box-shadow: 0 3.42px 17.94px 0.85px rgba(48, 123, 196, 0.1);
  padding: var(--size-32) var(--size-12) var(--size-8) var(--size-20);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(153.65deg, #eeeaf7 14.003%, vars.$primary-500 91.959%);
    opacity: 0;
    transition: opacity vars.$transition-duration-default vars.$transition-curve-default 0.05s;
    z-index: 0;
  }

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 1;
    }

    .service-card__action {
      background: rgba(vars.$primary-500, 0.1);
      transition: background vars.$transition-duration-default vars.$transition-curve-default 0.05s;
    }
  }

  &:focus-visible {
    outline: 2px solid vars.$secondary-500;
    outline-offset: 2px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'icon title'
      'space text';
    column-gap: var(--size-20);
    row-gap: var(--size-12);
    margin-bottom: 60px;

    position: relative;
    z-index: 1;

    &__icon {
      grid-area: icon;
      display: flex;
      width: var(--size-64);
      height: 64px;
      color: vars.$secondary-500;
    }

    &__title {
      grid-area: title;
      @include typo.text('21-28', 'jost', vars.$font-weight-medium, 1.3);
      color: vars.$secondary-500;
    }

    &__text {
      grid-area: text;
      @include typo.text('13-14', 'space-grotesk', vars.$font-weight-regular, 1.57);
      color: rgba(vars.$primary-800, 0.6);
      max-width: 285px;
    }
  }

  &__action {
    position: absolute;
    bottom: 0;
    right: 0;
    @include mixins.flex-center;
    width: 76px;
    height: 60px;
    border-radius: 8px 0 16px 0;
    background: rgba(vars.$primary-500, 1);

    svg {
      width: 30px;
      color: vars.$neutral-white;
    }
  }
}
