@use '../../abstracts/variables' as vars;
@use '../../abstracts/spacing' as space;
@use '../../abstracts/media-queries' as mq;
@use '../../abstracts/mixins' as mixins;
@use '../../base/typography' as type;

.articles {
  padding-top: var(--size-64);
  padding-bottom: var(--size-64);

  .section-title {
    color: vars.$secondary-500;
    margin-bottom: var(--size-64);
    @include mixins.section-title(vars.$secondary-500);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--size-48) var(--size-64);
    margin-bottom: var(--size-56);

    @include mq.min768px {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq.min1024px {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}
