@use '../../abstracts/spacing' as space;
@use '../../abstracts/variables' as vars;
@use '../../abstracts/media-queries' as mq;
@use '../../base/typography' as typo;

$max-height-of-main-items: 548px;
$hero-max-width-text: 48ch;

.hero {
  display: grid;
  place-items: center;
  background-color: vars.$primary-100;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    max-width: vars.$site-max-width;
    column-gap: var(--size-40);
    padding: space.range(40, 88) space.range(8, 32);

    @include mq.min768px {
      grid-template-columns: minmax(0, 577px) minmax(0, 577px);
      place-items: unset;
    }
  }

  &__content {
    align-self: start;

    @include mq.max767px {
      max-width: $hero-max-width-text;
      text-align: center;
    }
  }

  &__title {
    @include typo.text('38-60', 'jost', vars.$font-weight-semi-bold, 1.13);
    letter-spacing: -0.005em;
    color: vars.$secondary-500;
    margin-bottom: var(--size-24);
  }

  &__text {
    @include typo.text('16-20', 'space-grotesk', vars.$font-weight-regular, 1.4);
    letter-spacing: 0.015em;
    color: vars.$neutral-gray-300;
    margin-bottom: var(--size-24);
  }

  &__cta {
    justify-self: center;
    margin-bottom: var(--size-56);
  }

  //* Hours-box
  &__hours {
    background-color: vars.$neutral-white;
    border-radius: 0 var(--size-128) 0 0;
    padding: var(--size-32);
    margin-bottom: var(--size-32);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

    max-height: $max-height-of-main-items;

    @include mq.min768px {
      aspect-ratio: 577 / 548;
      grid-row: 2 / span 3;
    }

    @include mq.min1024px {
      padding: 40px 80px 50px 50px;
    }

    &-title {
      @include typo.text('18-24', 'jost', vars.$font-weight-semi-bold, 1);
      color: vars.$secondary-500;
      position: relative;
      padding-bottom: var(--size-24);
      margin-bottom: space.range(16, 54);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80px;
        height: 4px;
        background-color: vars.$secondary-500;
      }
    }
  }

  //* IMAGE
  &__image {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;
    max-height: $max-height-of-main-items;

    @include mq.max767px {
      display: none;
    }
  }

  //* INFO
  &__info {
    max-width: $hero-max-width-text;

    @include mq.max767px {
      margin-top: 24px;
      max-width: 35ch;
    }

    @include mq.min768px {
      grid-column: 2;
      grid-row: 3;
    }
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    gap: var(--size-8);

    &-number {
      @include typo.text('48-76', 'space-grotesk', vars.$font-weight-bold, 1.275);
      letter-spacing: -0.015em;
      color: vars.$secondary-500;
    }

    &-text {
      @include typo.text('20-26', 'space-grotesk', vars.$font-weight-bold, 1.27);
      letter-spacing: -0.015em;
      color: vars.$secondary-500;
    }
  }

  &__info-text {
    @include typo.text('16-20', 'space-grotesk', vars.$font-weight-regular, 1.285);
    letter-spacing: 0.0015em;
    color: vars.$neutral-gray-300;
    margin-top: var(--size-16);
  }

  &__info,
  &__note {
    @include mq.min1024px {
      margin-left: var(--size-48);
    }
  }

  //* NOTE
  &__note {
    grid-row: 3;

    @include mq.min768px {
      grid-column: 2;
      grid-row: 4;
      justify-self: start;
    }
  }

  &__note-text {
    @include typo.text('13-14', 'space-grotesk', vars.$font-weight-regular, 1.285);
    color: vars.$neutral-gray-300;
  }

  /*
  &__gradient-circle {
    position: absolute;
    width: 576px;
    height: 576px;
    height: 576px;
    border-radius: 50%;
    z-index: 1;

    &--1 {
      background-color: vars.$primary-500;
      opacity: 0.25;
      filter: blur(80px);
      top: -200px;
      right: -100px;
    }

    &--2 {
      background-color: vars.$primary-500;
      opacity: 0.05;
      filter: blur(80px);
      bottom: -250px;
      left: -150px;
    }
  }*/
}
