@use '../../abstracts/variables' as vars;
@use '../../abstracts/spacing' as space;
@use '../../abstracts/mixins' as mixins;
@use '../../abstracts/media-queries' as mq;

.services {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 434px));
    gap: var(--size-40) var(--size-16);
    justify-content: center;
    justify-items: center;
    position: relative;
    z-index: 2; //* Higher than banner
    transform: translateY(-200px);
    margin-bottom: -200px;
  }

  .section-title {
    @include mixins.section-title();

    @include mq.maxFull {
      justify-self: center;
    }
  }
}
