@use '../../abstracts/variables' as vars;
@use '../../abstracts/spacing' as space;

.ring {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  visibility: var(--decorative-visibility); //* FOUC FIX

  &--small {
    svg {
      position: absolute;
      top: space.range(10, 28);
      left: space.range(-30, -65);
      width: space.range(150, 405);
      height: space.range(150, 405);
    }
  }

  &--big {
    svg {
      position: absolute;
      top: space.range(-20, -4);
      right: space.range(-100, -314);
      width: space.range(250, 629);
      height: space.range(250, 629);
    }
  }
}
